@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  header{
    font-family: poppins, inter, ubuntu, system-ui, sans-serif;
  }
  html {
    font-family: poppins, inter, ubuntu, system-ui, sans-serif;
  }
  h1{
    font-family: poppins, inter, ubuntu, system-ui, sans-serif;
  }
}
.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply pt-8 mt-12 border-t border-gray-200 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

.mb-auto{
  @apply px-5
}

header {
  @apply px-5
}

#__next{
  @apply min-w-fit
}
/* .overflow-visible-image > span {
  overflow: visible !important;
} */
.image-wrapper > span{
  overflow: visible !important;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
